<footer>
    <span class="emoji">💌</span>
    <a href="mailto:{{ globals.email }}">{{ globals.email }}</a>
</footer>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "04364703ced84bfd909565937f0067aa"}'></script>