<header>
    <div class="logo">
        {% if page.url == '/' %}volganian{% else %}<a href="/">volganian</a>{% endif %}
    </div>

    {% if pagination_page %}
    <div class="pagination">
        <span class="emoji">📑</span>
        <a href="/">{{ pagination_page }} / {{ globals.pagination_total_pages }}</a>
    </div>
    {% endif %}
</header>