<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} / {% endif %}{{ globals.page_title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght@24,500" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/bundle.css">
  <link rel="stylesheet" href="/assets/css/common.css">
  {% if body_class %}
    <link rel="stylesheet" href="/assets/css/{{ body_class }}.css">
  {% endif %}
</head>
<body class="{{ body_class }}">
  {% include "header.njk" %}
  <main>{{ content | safe }}</main>
  {% include "footer.njk" %}
</body>
</html>